.grassetto {
    font-weight: bolder;
}
#wrapper{
    min-height: 16rem;
}

article {
    width: 32%;
    min-height: 300px;
    margin-left: 1%;
    margin-top: 6%;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;


}
#zonaArticoli{
    display: flex;
    flex-wrap: wrap;
}

.data{
    align-self: flex-end;
    margin-top: auto;
}